[Unit]
Description=Initial host info provider for MQTT
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mqtt-boot-send
ConditionFileExists=!/run/mqtt-boot-send.runonce
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
