# Where is the .ini of mikrotik2mqtt
ini=/etc/smarthome/reporters/mikrotik2mqtt.ini

# Looks like its in Celsius degrees.
# IDK if router can be configured to output F.
# However we can program conversion template if asked nicely. ;)
overheat=59

# TODO: good range
voltage_low=10
voltage_high=55

# Make those entities about the traffic:
traffic_entities=rx-error tx-error rx-byte-delta tx-byte-delta rx-error-delta tx-error-delta rx-drop-delta tx-drop-delta

#last-link-up-time
#link-downs
#rx-drop
#tx-drop
#rx-packet
#tx-packet
#tx-queue-drop
#fp-rx-byte
#fp-tx-byte
#fp-rx-packet
#fp-tx-packet
#link-downs-delta
#rx-packet-delta
#tx-packet-delta
#tx-queue-drop-delta
#fp-rx-byte-delta
#fp-tx-byte-delta
#fp-rx-packet-delta
#fp-tx-packet-delta

#traffic_scale_byte=KB, MB, GB, TB - scale byte values to larger units.
#traffic_scale_quantities=KB, MB, GB, TB - scale other quantity stuff up

# Note about the firewall stats:
# Now you see, these are derived directly from router's firewall,
# so we just cannot retrieve it automagically.
# 2nd note: stat names are generated with automatically added suffixes:
# -packets ad -bytes. So here you need to enter only the prefix/main part
firewall_by_id=inet-invalid inet-invalid inet-non-public inet-synflood tarpit inet-drop-blacklisted inet-tcp-lowport inet-udp-lowport inet-unknown

# What icons to use when some errors/drop/etc counter going zero to something
# Listed here are defaults
#counters_icon_good=mdi:lan-connect
#counters_icon_bad=mdi:lan-disconnect
