[Unit]
Description=Storage devices health status reporting through MQTT daemon
After=syslog.target network-online.target

[Service]
# smartctl will not work if not root
User=root
Group=smarthome
WorkingDirectory=/etc/smarthome/monitoring
EnvironmentFile=/etc/smarthome/monitoring/service-env
ExecStart=/usr/local/bin/mqtt-storage-sd-reports --loop 60 --config=${CONFDIR}/mqtt-storage.ini
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
