[Unit]
Description=Storage status to MQTT daemon
After=syslog.target network.target

[Service]
# smartctl will not work if not root
User=root
Group=smarthome
ExecStart=/usr/local/lib/kadavris/monitoring/mqtt-storage-sd-reports --loop 60 --config=/etc/smarthome/monitoring/storage/mqtt-storage.ini
WorkingDirectory=/etc/smarthome/monitoring/storage
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
