[DEFAULT]
# for all "topic something" names the final form will be
# "topic root" + / + this topic name.
#   e.g. if topic root = hardware/my_router
#   then topic for temperature will be: hardware/my_router/temperature, etc.

# whether firmware/packages updates are available. if not filled in then root topic is used
#topic_upgrades = upgrades
# device temperature
topic_temperature = temperature
# PSU voltage
topic_voltage = voltage
# prefix for traffic reports tree: hardware/my_router/traffic: json
topic_traffic = traffic

get_updates = true
get_temperature = true
get_voltage = true

# seconds between posting new data
report_interval = 60

# tool to actually post data to the mqtt
# see http://github.com/kadavris/mqtt-tool for a working solution
sender = /etc/smarthome/mqtt/mqtt --stdin --quiet router-reports

port = 22

# Now, internal processing distinguishes devices by their IP only.
# The section name is almost dummy thing, unless you will be using Home Assistant
# and the sensors yaml autogeneration script.
# In this case the script will use the section names as a part of entity names
[router1]
#disable = true
ip = 1.1.1.1
# NOTE: use non-admin user with read-only permissions for the better security
user = user
password = password

# the root topic (prefix) for all of this router's topics
topic_root = hw/router/router1

# for which interfaces to collect traffic data: space separated list
get_traffic = wan_bridge lan_bride wlan_bridge

#TODO: query firewall rules that drop/reject/tarpit packets
#get_firewall_drops=true

# TODO: Will produce a listing of rules that match your queries.
# The action is /ip firewall filter print stats where QUERY
# XXX, YYY and so on is just the user-defined suffixes to make keys distinct
#get_firewall_whereXXX=option[,option...],query
#get_firewall_whereYYY=option[,option...],other_query
# and so on