[Unit]
Description=MikroTik router data to MQTT daemon
After=network-online.target

[Service]
User=smarthome
Group=smarthome
ExecStart=/usr/local/lib/kadavris/monitoring/mikrotik2mqtt --loop --config=/etc/smarthome/monitoring/mikrotik/mikrotik2mqtt.ini
WorkingDirectory=/etc/smarthome/monitoring/mikrotik
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
