[Unit]
Description=MikroTik router data to MQTT daemon
After=network-online.target

[Service]
User=smarthome
Group=smarthome
WorkingDirectory=/etc/smarthome/monitoring
EnvironmentFile=/etc/smarthome/monitoring/service-env
ExecStart=/usr/local/bin/mikrotik2mqtt --loop --config=${CONFDIR}/mikrotik2mqtt.ini
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
