# This is a sample configuration for mikrotik2mqtt script.
[DEFAULT]
# for all "topic something" names the final form will be
# "topic root" + / + this topic name.
#   e.g. if topic root = hardware/my_router
#   then topic for temperature will be: hardware/my_router/temperature, etc.

# whether firmware/packages updates are available. if not filled in then root topic is used
#topic_upgrades = upgrades
# device temperature
topic_temperature = temperature
# PSU voltage
topic_voltage = voltage
# prefix for traffic reports tree: hardware/my_router/traffic: json
topic_traffic = traffic

get_updates = true
get_temperature = true
get_voltage = true

# seconds between posting new data
report_interval = 60

# tool to actually post data to the mqtt
# see http://github.com/kadavris/mqtt-tool for a working solution
sender = /usr/local/bin/mqtt-tool --stdin --quiet router-reports

# Use http or https according to your router's configuration:
# IP/Services -> api or api-ssl enabled
port = https

# if you use https and router have certificate signed with your own CA, point this to CA_BUNDLE
cacert=/etc/pki/CA/cacert.pem

# Now, internal processing distinguishes devices by their IP only.
# The section name is almost dummy thing, unless you will be using Home Assistant
# and the sensors yaml autogeneration script.
# In this case the script will use the section names as a part of entity names
[router1]
#disable = true
ip = 1.1.1.1
# NOTE: use non-admin user with read-only permissions for better security
user = user
password = password

# the root topic (prefix) for all of this router's topics
topic_root = hw/router/router1

# for which interfaces to collect traffic data: space separated list
get_traffic = wan_bridge lan_bride wlan_bridge

# Firewall:
# Will find all firewall rules having the 'STATID:tag_name' tags at the comment begin
# and produce nice json out of it
# The value of this option is the mqtt topic name.
get_firewall_by_id=firewall/byid
