[Unit]
Description=Power status to MQTT daemon
After=network.target nut-server.service

[Service]
User=nut
Group=smarthome
ExecStart=/usr/local/lib/kadavris/monitoring/mqtt-power --loop 20 --config=/etc/smarthome/monitoring/power/mqtt-power.ini
WorkingDirectory=/etc/smarthome/monitoring/power
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
