[Unit]
Description=Power status to MQTT daemon
After=network-online.target nut-server.service

[Service]
# You need to have exec rights for upsc
User=nut
Group=smarthome
WorkingDirectory=/etc/smarthome/monitoring
EnvironmentFile=/etc/smarthome/monitoring/service-env
ExecStart=/usr/local/bin/mqtt-power" --loop 30 --config=${CONFDIR}/mqtt-power.ini
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
